{% extends 'task/base.html' %}

{% block content %}
<h2 style="float: left;" class="pb-2">Task List</h2>

<form style="float: right;" method="POST" action="/">
	{% csrf_token %}
	{{ form.title }}
	<input type="submit" class="btn btn-md btn-primary" value="Create Task">
</form>

<!-- SEARCH FUNCTIONALITY (TO BE ADDED) -->
<!-- <form name="searchres" method="GET" action="">  
	<input type="text" name="search" placeholder="Search" />
</form>  -->

<div class="table-container">
<!-- <table class="table table-dark mt-4"> -->
	<table class="table table-hover mt-4">
		<tbody>
			<thead class="thead-dark">
				<tr>
					<th scope="col">Status</th>
					<th scope="col">
						Task
						<!-- FITERING BASED ON COMPLETION OF TASK (TO BE FIGURED OUT)-->
						<!-- <a type="button" class="btn btn-sm btn-outline-light ml-2">All</a>
						<a type="button" class="btn btn-sm btn-outline-light ml-2">Incomplete</a>
						<a type="button" class="btn btn-sm btn-outline-light ml-2">Completed</a> -->
					</th>
					<th class="pl-5" scope="col">Actions</th>
					<!-- <th></th> -->
				</tr>
			</thead>
			<!-- <td></td>
			<td>
				<form method="POST" action="/">
					{% csrf_token %}
					{{ form.title }}
					<input type="submit" class="btn btn-md btn-primary" value="Create Task">
				</form>
			</td>
			<td></td>
			<td></td> -->
			{% for task in tasks %}
				<tr>
					{% if task.complete == True %}
						<th scope="row">
							<a href="{% url 'task-status' task.id %}" class="btn btn-sm" role="button"><i class="fas fa-check-square"></i></a>
						</th>
						<td>
							<s>{{ task.title }}</s>
						</td>
					{% else %}
						<th scope="row">
							<a href="{% url 'task-status' task.id %}" class="btn btn-sm" role="button"><i class="fas fa-square"></i></a>
						</th>
						<td>
							{{ task.title }}
						</td>
					{% endif %}
					<td>
						<a type="button" class="btn btn-sm btn-outline-warning mr-1" href="{% url 'task-update' task.id %}">Update</a>
						<a type="button" class="btn btn-sm btn-outline-danger" href="{% url 'task-delete' task.id %}">Delete</a>
					</td>
					<!-- <td><a type="button" class="btn btn-sm btn-outline-danger" href="{% url 'task-delete' task.id %}">Delete</a></td> -->
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div style="align-items: center; text-align: center;">
	{% if is_paginated %}

		{% if page_obj.has_previous %}
			<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
			<!-- <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a> -->
		{% endif %}

		{% for num in page_obj.paginator.page_range %}
			{% if page_obj.number == num %}
				<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
			{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
				<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
			{% endif %}
		{% endfor %}

		{% if page_obj.has_next %}
			<!-- <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a> -->
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
		{% endif %}

	{% endif %}
	</div>
</div>



{% endblock content %}

