{% extends 'task/base.html' %}

{% block content %}
<h2>Home Page!</h2>

<form method="POST" action="/">
	{% csrf_token %}
	{{ form.title }}
	<input type="submit" value="Create Task">
</form>

{% for task in tasks %}
<p>
	<!-- <a href="{% url 'task-update' task.id %}" class="btn btn-dark btn-sm" role="button">COMPLETED</a> -->
	{% if task.complete == True %}
	<a href="{% url 'task-status' task.id %}" class="btn btn-sm" role="button"><i class="fas fa-check-square"></i></a>
	<s>{{ task.title }}</s>
	{% else %}
	<a href="{% url 'task-status' task.id %}" class="btn btn-sm" role="button"><i class="fas fa-square"></i></a>
	{{ task.title }}
	{% endif %}
	<a href="{% url 'profile' %}"></a>
	<span>(author - {{ task.author }})</span>
	<a href="{% url 'task-update' task.id %}">Update</a>
	<a href="{% url 'task-delete' task.id %}">Delete</a>
</p>
{% endfor %}
{% endblock content %}

